<div class="quote">
  <h1 class="quote__title">
    <p class="quote__text quote__text--small-size">{{login.jwt}}</p>
    <p class="quote__text quote__text--small-size">lost</p>
    <p class="quote__text">time</p>
    <p class="quote__text quote__text--small-size quote__text--blue">is never</p>
    <p class="quote__text">found</p>
    <p class="quote__text">again</p>
    <p class="quote__author">- benjamin franklin</p>
  </h1>
  <span class="line-home line-home--top"></span>
  <div class="google-signin">
    {{login.projects}}
    <div class="g-signin2" ng-click="login.login()"></div>
    <p class="google-signin__aux-text">Want to Check-in?</p>
    <div class="google-signin__text">
      <span class="google-signin__text">Sign in with your </span>
      <img class="google-signin__image" src="assets/images/google-logo.svg" alt="Google Logo" />
      <span class="google-signin__text"> account</span>
      <img class="google-signin__image" src="assets/images/continue-arrow.svg" alt="Continue arrow">
    </div>
  </div>
</div>
<span class="line-home line-home--middle"></span>
<img src="assets/images/koombea-logo.svg" alt="Koombea Logo" class="logo-index" />
