$gray-darker:					  #4A4A4A;
$gray-dark:						  #9B9B9B;
$gray: 							    #EAEAEA;
$gray-light:					  #D8D8D8;
$blue-dark:						  #10224C;
$blue-light: 					  #41BEE2;
$green:							    #21CA9A;


$brand-primary: 				$blue-light;
$brand-active:					$green;
$brand-info:					  white;
$brand-default:					black;


$title-color:					  $blue-dark;
$navbar-primary:				$gray-darker;
$hover-list:					  $gray-light;		

$body-bg:						    $gray;
