<div class="container">
  <div class="container__header">
    <h1 class="container__title container__title--history">
      <span class="container__subtitle">past</span>
      check-ins
    </h1>
    <img class="button-menu-mobile button-menu-mobile-js" src="assets/images/mobile-btn.svg" alt="Mobile button hamburger" />
  </div>
  <div class="container__form">
    <div class="history">
      <history-items
        ng-repeat="history in historyCtrl.history" checkins="history" />
    </div>
    <ul class="navbar navbar-js">
      <li class="navbar__items"><a class="navbar__links" href="/#/checkin"><span class="sprite sprite--add margin-right--middle vertical-align navbar__icon"></span><span class="navbar__text vertical-align">New Check-in</span></a></li>
      <li class="navbar__items"><a class="navbar__links" href="/#/history"><span class="sprite sprite--history-active margin-right--middle vertical-align navbar__icon"></span><span class="navbar__text navbar__text--color vertical-align">History</span></a></li>
      <li class="navbar__items"><a class="navbar__links" href="index.html"><span class="sprite sprite--logout margin-right--middle vertical-align navbar__icon"></span><span class="navbar__text vertical-align">Logout</span></a></li>
    </ul>
    <div class="form-shadow"></div>
  </div>
</div>  
<span class="line line--left"></span>
<span class="circle circle--left"></span>


<img src="assets/images/koombea-logo.svg" alt="Koombea Logo" class="logo" />
<script>
  $(function() {
    var $mobileMenu   =   $('.button-menu-mobile-js'),
        $nav          =   $('.navbar-js');

    // Mobile Menu
    $mobileMenu.click(function() {
      $nav.toggleClass('navbar__mobile');
    }); 
  });
</script>
