.container {
  width: 85%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  &__title {
    font-size: 2.142rem; // 30px mobile 
    color: $brand-primary;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 183px;
    line-height: 0.9;
    margin-top: 10px;
    @media(min-width: 401px){
      font-size: 3.142rem; // 44px
      max-width: 290px;
      margin-bottom: 10px;
    }
    &--history {
      color: $brand-active;
      max-width: 160px;
      @media(min-width: 401px){
        font-size: 3.142rem; // 44px
            max-width: 244px;
        margin-bottom: 10px;
      }
    }
  }
  &__subtitle {
    font-size: 1.428rem; // 20px mobile 
    color: $title-color;
    @media(min-width: 401px){
      font-size: 2.357rem; // 33px
    }
  }
  &__form {
    background: url('../assets/images/checkin-bg.jpg') no-repeat;
    background-size: center;
    border-radius: 5px;
    position: relative;
    height: 373px;
    &--done {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $brand-active;
      z-index: 4;
      border-radius: 5px;
      text-align: center;
      transition: 1s;
    }
    &--icon-done {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 5;
      transition: 1s;
      display: none;
    }
    &--text-done {
      color: $brand-info;
      font-size: 1.285rem;
      font-weight: 300;
      text-transform: capitalize;
      margin-top: 10px;
    }
    @media(min-width: 401px){
      height: 527.91px;
    }
  }
  &__header {
    position: relative;
  }
}

