.button-menu-mobile {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  z-index: 6;
  @media(min-width: 401px){
    display: none;
  }
}
.navbar {
	position: absolute;
	top: 0;
	right: -140px;
  list-style: none;
  transition: right 0.7s;
  &__items {
    margin-bottom: 15px;
  }
  &__links {
    text-decoration: none;
    font-size: 1rem;
    height: 17px;
    &:hover {
      .navbar__icon {
        transform: scale(0.7);
      }
    }
  }
  &__text {
    color: rgba($gray-darker, 0.4);
    transition: 1s;
    &--color {
      color: $gray-darker;
    }
  }
  &__mobile {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    background-color: rgba($brand-info, 0.95);
    right: 0 !important;
    list-style: none;
    margin: 0;
    z-index: 5;
    padding: 70px 30px 0;
  }
  @media(max-width: 400px){
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba($brand-info, 0.95);
    right: -200px;
    list-style: none;
    margin: 0;
    z-index: 5;
    padding: 70px 30px 0;
  }
}
